@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #002c59;
  --secondary-color: #5c6061;
  --tertiary-color: #ffffff;
}

body,
html {
  background-color: var(--tertiary-color);
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

/*ABOUT US PAGE */
#aboutUs-page {
  max-width: 1440px;
  margin: auto;
  padding: 60px;
  display: flex;
}

#aboutUs-page .aboutUs-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#aboutUs-page .aboutUs-text h2 {
  color: var(--secondary-color);
  font-size: 20px;
}

#aboutUs-page .aboutUs-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: var(--secondary-color);
}

#aboutUs-page .aboutUs-text span {
  font-size: 50px;
  font-weight: bold;

  color: var(--primary-color);
}

#aboutUs-page .aboutUs-text p {
  color: var(--secondary-color);
  font-size: 16px;
}

#aboutUs-page .aboutUs-text button {
  width: 158px;
  height: 52px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
}

#aboutUs-page .aboutUs-text button:hover {
  background-color: var(--secondary-color);
}

#aboutUs-page .aboutUs-text .primary-color-btn {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

#aboutUs-page .aboutUs-img {
  width: 50%;
}

#aboutUs-page .aboutUs-img img {
  width: 100%;
}

/*FEATURE PAGE*/
#feature-page {
  max-width: 1440px;
  margin: auto;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

#feature-page .feature-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feature-page .feature-text h3 {
  font-size: 20px;
  color: var(--secondary-color);
}

#feature-page .feature-text h1 {
  font-size: 35px;
  color: var(--primary-color);
  font-weight: bold;
}

#feature-page .feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

#feature-page .feature-cards .cards {
  width: 305px;
  height: 237px;
  gap: 10px;
  margin: 60px;
}

#feature-page .feature-cards .cards:hover {
  background-color: #f0f0f0;
  color: #333;
}

#feature-page .feature-cards .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feature-page .feature-cards .cards img {
  width: 73px;
  height: 73px;
}

#feature-page .feature-cards .cards h2 {
  font-size: 20px;
  width: 75px;
  height: 30px;
  text-align: center;
  color: var(--primary-color);
}

#feature-page .feature-cards .cards p {
  font-size: 16px;
  width: 305px;
  height: 95px;
  text-align: center;
  color: var(--secondary-color);
}

/* What we offer Page*/
#whatWeOffer-page {
  max-width: 1440px;
  margin: auto;
  padding: 60px;
  display: flex;
  flex-direction: column;
}

#whatWeOffer-page .whatWeOffer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#whatWeOffer-page .whatWeOffer-text h3 {
  font-size: 20px;
}

#whatWeOffer-page .whatWeOffer-text h1 {
  font-size: 35px;
  font-weight: 800;
}

#whatWeOffer-page .whatWeoffer-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#whatWeOffer-page .whatWeoffer-cards .card {
  border: none;
  align-items: center;
}

#whatWeOffer-page .whatWeoffer-cards .card img {
  width: 304px;
  height: 237px;
  padding-bottom: 20px;
}

#whatWeOffer-page .whatWeoffer-cards .card h3 {
  font-size: 20px;
}

#whatWeOffer-page .whatWeoffer-cards .card h4 {
  font-size: 16px;
}

/*TESTIMONIAL PAGE*/
#testimonial-page {
  max-width: 1440px;
  margin: auto;
  padding: 60px;
  display: flex;
  gap: 90px;
}

#testimonial-page .testimonial-cards {
  display: flex;
  width: 50%;
}

#testimonial-page .testimonial-cards .card {
  display: flex;
  width: 326px;
  border: none;
  margin: 10px;
}

#testimonial-page .testimonial-cards .card .paragraph {
  text-align: justify;
}

#testimonial-page .testimonial-cards .card .paragraph p {
  font-size: 16px;
}

#testimonial-page .testimonial-cards .card .infos {
  display: flex;
  gap: 10px;
}

#testimonial-page .testimonial-cards .card .infos {
  display: flex;
  gap: 10px;
}

#testimonial-page .testimonial-cards .card .infos img {
  width: auto;
  height: auto;
}

#testimonial-page .testimonial-cards .card .infos h3 {
  font-size: 20px;
}

#testimonial-page .testimonial-cards .card .infos h5 {
  font-size: 16px;
  font-weight: 200;
}

#testimonial-page .testimonial-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

#testimonial-page .testimonial-text h2 {
  font-size: 20px;
}

#testimonial-page .testimonial-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: var(--secondary-color);
}

#testimonial-page .testimonial-text span {
  font-size: 50px;
  font-weight: bold;
  color: var(--primary-color);
}

#testimonial-page .testimonial-text p {
  font-size: 16px;
}

#testimonial-page .testimonial-text button {
  width: 158px;
  height: 52px;
  border-radius: 30px;
  border: none;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

#testimonial-page .testimonial-text button:hover {
  background-color: var(--secondary-color);
}

/* For tablets and smaller desktop screens */
/*NAVIGATION BAR*/
@media only screen and (max-width: 900px) {
  .navbar-collapse {
    display: inline;
    padding: 0px 10px 0px 10px;
  }

  nav .nav-link ul {
    gap: 0px;
  }

  .login-btn button {
    background-color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
    color: var(--tertiary-color);
    width: 100x;
    height: 30px;
    border-radius: 6px;
    margin-left: 12px;
  }

  /*ABOUT US PAGE*/

  #aboutUs-page {
    display: flex;
    flex-direction: column;
    padding: 60px;
  }

  #aboutUs-page .aboutUs-img {
    width: 100%;
  }

  #aboutUs-page .aboutUs-img img {
    width: 100%;
  }

  #aboutUs-page .aboutUs-text {
    width: 100%;
  }

  /*FEATURE PAGE*/
  #feature-page {
    padding: 60px;
  }

  #feature-page .feature-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #feature-page .feature-cards .cards {
    width: 305px;
    height: 237px;
    margin: 20px;
  }

  /* What we offer Page*/
  #whatWeOffer-page {
    margin-top: 50px;
  }

  /*TESTIMONIAL PAGE*/
  #testimonial-page {
    display: flex;
    flex-direction: column;
  }

  #testimonial-page .testimonial-cards {
    width: 100%;
  }

  #testimonial-page .testimonial-text {
    width: 100%;
  }
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
  .navbar-collapse {
    display: inline;
    padding: 0px 10px 0px 10px;
  }

  nav .nav-link ul {
    gap: 0px;
  }

  .login-btn button {
    background-color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
    color: var(--tertiary-color);
    width: 100x;
    height: 30px;
    border-radius: 6px;
    margin-left: 12px;
  }

  /*ABOUT US PAGE*/

  #aboutUs-page {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  #aboutUs-page .aboutUs-img {
    width: 100%;
  }

  #aboutUs-page .aboutUs-img img {
    width: 100%;
  }

  #aboutUs-page .aboutUs-text {
    width: 100%;
  }

  /*FEATURE PAGE*/
  #feature-page {
    padding: 10px;
  }

  #feature-page .feature-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* What we offer Page*/
  #whatWeOffer-page {
    margin-top: 50px;
    padding: 10px;
  }

  /*TESTIMONIAL PAGE*/
  #testimonial-page {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  #testimonial-page .testimonial-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #testimonial-page .testimonial-text {
    width: 100%;
  }
}
