@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #002c59;
  --secondary-color: #5c6061;
  --tertiary-color: #ffffff;
}

body,
html {
  background-color: var(--tertiary-color);
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

/*NAVIGATION BAR*/
.navbar {
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  max-width: 1440px;
  margin: 0 auto; /* Centers the section horizontally */
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px 30px 60px;
  width: 1440px;
  height: 89px;
}

.navbar-brand {
  font: 29px;
}

#active-link {
  color: var(--primary-color);
  text-decoration: underline;
}

#notActive-link {
  color: var(--secondary-color);
}

nav .nav-link ul {
  gap: 40px;
}

.login-btn button {
  background-color: var(--primary-color);
  font-size: 15px;
  font-weight: 500;
  color: var(--tertiary-color);
  width: 130px;
  height: 40px;
  border-radius: 6px;
  margin-right: 100px;
  border: none;
}

.login-btn button:hover {
  background-color: var(--secondary-color);
}

/*HERO PAGE */
#hero-page {
  max-width: 1440px;
  margin: 0 auto; /* Centers the section horizontally */
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 60px;
  gap: 80px;
}

#hero-page .hero-text {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 30px;
}

#hero-page .hero-text h2 {
  color: var(--secondary-color);
  font-size: 20px;
}

#hero-page .hero-text h1 {
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  color: var(--secondary-color);
}

#hero-page .hero-text span {
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  color: var(--primary-color);
}

#hero-page .hero-text p {
  color: var(--secondary-color);
  font-size: 16px;
}

#hero-page .hero-text button {
  width: 158px;
  height: 52px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
}

#hero-page .hero-text .primary-color-btn {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

#hero-page .hero-text .primary-color-btn:hover {
  background-color: var(--secondary-color);
}

#hero-page .hero-text .tertiary-color-btn {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

#hero-page .hero-text .tertiary-color-btn:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

#hero-page .hero-img {
  width: 50%;
}

/*FEATURE PAGE*/
#feature-page {
  max-width: 1440px;
  margin: auto;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

#feature-page .feature-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feature-page .feature-text h3 {
  font-size: 20px;
  color: var(--secondary-color);
}

#feature-page .feature-text h1 {
  font-size: 35px;
  color: var(--primary-color);
  font-weight: bold;
}

#feature-page .feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#feature-page .feature-cards .cards {
  width: 305px;
  height: 237px;
  gap: 10px;
  margin: 60px;
}

#feature-page .feature-cards .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feature-page .feature-cards .cards:hover {
  background-color: #f0f0f0;
  color: #333;
}

#feature-page .feature-cards .cards img {
  width: 73px;
  height: 73px;
}

#feature-page .feature-cards .cards h2 {
  font-size: 20px;
  width: 75px;
  height: 30px;
  text-align: center;
  color: var(--primary-color);
}

#feature-page .feature-cards .cards p {
  font-size: 16px;
  width: 305px;
  height: 95px;
  text-align: center;
  color: var(--secondary-color);
}

/*ABOUT US PAGE */
#aboutUs-page {
  max-width: 1440px;
  margin: auto;
  padding: 60px;
  display: flex;
}

#aboutUs-page .aboutUs-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#aboutUs-page .aboutUs-text h2 {
  color: var(--secondary-color);
  font-size: 20px;
}

#aboutUs-page .aboutUs-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: var(--secondary-color);
}

#aboutUs-page .aboutUs-text span {
  font-size: 50px;
  font-weight: bold;

  color: var(--primary-color);
}

#aboutUs-page .aboutUs-text p {
  color: var(--secondary-color);
  font-size: 16px;
}

#aboutUs-page .aboutUs-text button {
  width: 158px;
  height: 52px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
}
#aboutUs-page .aboutUs-text button:hover {
  background-color: var(--secondary-color);
}

#aboutUs-page .aboutUs-text .primary-color-btn {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

#aboutUs-page .aboutUs-img {
  width: 50%;
}

/*COLLAB SITES PAGE*/
#collab-sites-page {
  max-width: 1440px;
  margin: auto;
  padding: 60px;
}

#collab-sites-page .collab-sites {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

#collab-sites-page .collab-sites img {
  width: 246px;
  height: 60px;
}

/*VIDEO PAGE*/
#video-page {
  max-width: 1440px;
  margin: auto;
  padding: 60px;
  height: 800px;
}

#video-page .video {
  width: 100%;
  height: 100%;
}

/*TESTIMONIAL PAGE*/
#testimonial-page {
  max-width: 1440px;
  margin: auto;
  padding: 60px;
  display: flex;
  gap: 90px;
}

#testimonial-page .testimonial-cards {
  display: flex;
  width: 50%;
}

#testimonial-page .testimonial-cards .card {
  display: flex;
  width: 326px;
  border: none;
  margin: 10px;
}

#testimonial-page .testimonial-cards .card .paragraph {
  text-align: justify;
}

#testimonial-page .testimonial-cards .card .paragraph p {
  font-size: 16px;
}

#testimonial-page .testimonial-cards .card .infos {
  display: flex;
  gap: 10px;
}

#testimonial-page .testimonial-cards .card .infos {
  display: flex;
  gap: 10px;
}

#testimonial-page .testimonial-cards .card .infos img {
  width: auto;
  height: auto;
}

#testimonial-page .testimonial-cards .card .infos h3 {
  font-size: 20px;
}

#testimonial-page .testimonial-cards .card .infos h5 {
  font-size: 16px;
  font-weight: 200;
}

#testimonial-page .testimonial-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

#testimonial-page .testimonial-text h2 {
  font-size: 20px;
}

#testimonial-page .testimonial-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: var(--secondary-color);
}

#testimonial-page .testimonial-text span {
  font-size: 50px;
  font-weight: bold;
  color: var(--primary-color);
}

#testimonial-page .testimonial-text p {
  font-size: 16px;
}

#testimonial-page .testimonial-text button {
  width: 158px;
  height: 52px;
  border-radius: 30px;
  border: none;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

#testimonial-page .testimonial-text button:hover {
  background-color: var(--secondary-color);
}

/*LATEST NEWS PAGE*/
#latest-news-page {
  max-width: 1440px;
  margin: auto;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

#latest-news-page .title h3 {
  font-size: 20px;
  color: var(--secondary-color);
}

#latest-news-page .title h1 {
  font-size: 35px;
  font-weight: bold;
  color: var(--primary-color);
}

#latest-news-page .latest-news-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#latest-news-page .latest-news-cards .card {
  width: 349px;
  height: 543px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
}

#latest-news-page .latest-news-cards .card .btn-date {
  width: 117px;
  height: 32px;
  font-size: 10px;
  border-radius: 30px;
  border: none;
}

#latest-news-page .latest-news-cards .card h2 {
  font-size: 20px;
}

#latest-news-page .latest-news-cards .card p {
  font-size: 16px;
}

#latest-news-page .latest-news-cards .card .btn-readMore {
  width: 158px;
  height: 52px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

#latest-news-page .latest-news-cards .card .btn-readMore:hover {
  background-color: var(--secondary-color);
}

/*CONTACT US PAGE*/
#contact-us-page {
  max-width: 1440px;
  margin: auto;
  padding: 60px;
}

#contact-us-page .contact-us {
  background-color: var(--secondary-color);
  display: flex;
  width: 100%;
  padding: 100px 20px;
  align-items: center;
  justify-content: space-around;
  border-radius: 18px;
}

#contact-us-page .contact-us button {
  width: 158px;
  height: 52px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 30px;
  border: none;
  font-size: 16px;
}

#contact-us-page .contact-us button:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

#contact-us-page .contact-us h1 {
  width: 75%;
  font-size: 40px;
  font-weight: bold;
  color: var(--tertiary-color);
}

/*HOME-FOOTER-PAGE*/
#home-footer-page {
  max-width: 1440px;
  margin: auto;
  padding: 60px;
  display: flex;
  justify-content: space-around;
}

#home-footer-page .logo h1 {
  font-size: 28px;
}

#home-footer-page .social-media h3 {
  font-size: 20px;
  padding-bottom: 10px;
}

#home-footer-page .social-media .social-media-icon {
  display: flex;
  gap: 10px;
}

#home-footer-page .company h3 {
  font-size: 20px;
}

#home-footer-page .company p {
  font-size: 14px;
}

#home-footer-page .useful-links h3 {
  font-size: 20px;
}

#home-footer-page .useful-links p {
  font-size: 16px;
}

/* For tablets and smaller desktop screens */
/*NAVIGATION BAR*/
@media only screen and (max-width: 990px) {
  .navbar-collapse {
    display: inline;
    padding: 0px 10px 0px 10px;
  }

  nav .nav-link ul {
    gap: 0px;
  }

  .login-btn button {
    background-color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
    color: var(--tertiary-color);
    width: 100x;
    height: 30px;
    border-radius: 6px;
    margin-left: 12px;
  }

  /*HERO PAGE*/
  #hero-page {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #hero-page .hero-text {
    width: 100%;
  }

  #hero-page .hero-img {
    width: 100%;
  }

  #hero-page .hero-img img {
    width: 100%;
  }

  /*FEATURE PAGE*/
  #feature-page .feature-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #feature-page .feature-cards .cards {
    width: 305px;
    height: 237px;
    gap: 0px;
    margin: 20px;
  }

  /*ABOUT US PAGE*/

  #aboutUs-page {
    display: flex;
    flex-direction: column;
    padding: 60px;
  }

  #aboutUs-page .aboutUs-img {
    width: 100%;
  }

  #aboutUs-page .aboutUs-img img {
    width: 100%;
  }

  #aboutUs-page .aboutUs-text {
    width: 100%;
  }

  /*COLLAB SITES PAGE*/
  #collab-sites-page {
    padding: 60px;
    margin-top: 30px;
  }

  /*VIDEO PAGE*/
  #video-page .video img {
    width: 100%;
  }

  /*TESTIMONIAL PAGE*/
  #testimonial-page {
    display: flex;
    flex-direction: column;
  }

  #testimonial-page .testimonial-cards {
    width: 100%;
  }

  #testimonial-page .testimonial-text {
    width: 100%;
  }

  /*LATEST NEWS PAGE*/
  #latest-news-page {
    margin-top: 50px;
    padding: 60px;
    gap: 20px;
  }

  #latest-news-page .latest-news-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #latest-news-page .latest-news-cards .card {
    width: 320px;
    height: 543px;
  }

  /*CONTACT US PAGE*/
  #contact-us-page {
    display: flex;
    flex-direction: column;
    padding: 60px;
  }

  #contact-us-page .contact-us button {
    width: 200px;
  }

  #contact-us-page .contact-us h1 {
    text-align: center;
    font-size: 35px;
    width: 100%;
  }

  #contact-us-page .contact-us {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /*HOME-FOOTER-PAGE*/
  #home-footer-page {
    margin-top: 60px;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
  .navbar-collapse {
    display: inline;
    padding: 0px 10px 0px 10px;
  }

  nav .nav-link ul {
    gap: 0px;
  }

  .login-btn button {
    background-color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
    color: var(--tertiary-color);
    width: 100x;
    height: 30px;
    border-radius: 6px;
    margin-left: 12px;
  }

  /*HERO PAGE*/
  #hero-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    padding-top: 80px;
  }

  #hero-page .hero-text {
    width: 100%;
  }

  #hero-page .hero-img {
    width: 100%;
  }

  /*FEATURE PAGE*/
  #feature-page {
    padding: 10px;
  }

  #feature-page .feature-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /*ABOUT US PAGE*/

  #aboutUs-page {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  #aboutUs-page .aboutUs-img {
    width: 100%;
  }

  #aboutUs-page .aboutUs-img img {
    width: 100%;
  }

  #aboutUs-page .aboutUs-text {
    width: 100%;
  }

  /*COLLAB SITES PAGE*/
  #collab-sites-page {
    padding: 10px;
    margin-top: 30px;
  }

  /*VIDEO PAGE*/
  #video-page {
    margin-top: 40px;
    padding: 10px;
  }
  #video-page .video img {
    width: 100%;
  }

  /*TESTIMONIAL PAGE*/
  #testimonial-page {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  #testimonial-page .testimonial-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #testimonial-page .testimonial-text {
    width: 100%;
  }

  /*LATEST NEWS PAGE*/
  #latest-news-page {
    margin-top: 50px;
    padding: 10px;
    gap: 20px;
    align-items: center;
  }

  #latest-news-page .latest-news-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #latest-news-page .latest-news-cards .card {
    width: 320px;
    height: 543px;
  }

  #latest-news-page .latest-news-cards {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }

  #latest-news-page .latest-news-cards .card .btn-readMore {
    width: 110px;
    height: 40px;
    font-size: 14px;
  }

  /*CONTACT US PAGE*/
  #contact-us-page {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  #contact-us-page .contact-us {
    padding: 50px 10px;
  }

  #contact-us-page .contact-us button {
    width: 200px;
  }

  #contact-us-page .contact-us h1 {
    text-align: center;
    width: 100%;
    font-size: 30px;
  }

  #contact-us-page .contact-us {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /*HOME-FOOTER-PAGE*/
  #home-footer-page {
    margin-top: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }
}
