:root {
  --primary-color: #002c59;
  --secondary-color: #5c6061;
  --tertiary-color: #ffffff;
}

#home-footer-page {
  max-width: 1440px;
  margin: auto;
  padding: 60px;
  display: flex;
  justify-content: space-around;
}

#home-footer-page .logo h1 {
  font-size: 28px;
  cursor: pointer;
}

#home-footer-page .social-media h3 {
  font-size: 20px;
  padding-bottom: 10px;
}

#home-footer-page .social-media .social-media-icon {
  display: flex;
  gap: 10px;
}

#home-footer-page .social-media .social-media-icon img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

#home-footer-page .social-media .social-media-icon img:hover {
  transform: scale(1.2);
}

#home-footer-page .company h3 {
  font-size: 20px;
}

#home-footer-page .company p {
  font-size: 16px;
}

#home-footer-page .company p a {
  text-decoration: none;
  color: var(--primary-color);
}

#home-footer-page .useful-links h3 {
  font-size: 20px;
}

#home-footer-page .useful-links p {
  font-size: 16px;
}

#home-footer-page .useful-links p a {
  text-decoration: none;
  color: var(--primary-color);
}

/* For tablets and smaller desktop screens */
/*NAVIGATION BAR*/
@media only screen and (max-width: 990px) {
  /*HOME-FOOTER-PAGE*/
  #home-footer-page {
    margin-top: 60px;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }

  #home-footer-page .company h3 {
    font-size: 18px;
  }

  #home-footer-page .company p {
    font-size: 14px;
  }

  #home-footer-page .useful-links h3 {
    font-size: 18px;
  }

  #home-footer-page .useful-links p {
    font-size: 14px;
  }
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
  /*HOME-FOOTER-PAGE*/
  #home-footer-page {
    margin-top: 60px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  #home-footer-page .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #home-footer-page .social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #home-footer-page .company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #home-footer-page .useful-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
