/*TESTIMONIAL PAGE*/
#testimonial-page {
  max-width: 1440px;
  margin: auto;
  padding: 60px;
  display: flex;
  gap: 90px;
}

#testimonial-page .testimonial-cards {
  display: flex;
  width: 50%;
}

#testimonial-page .testimonial-cards .card {
  display: flex;
  width: 326px;
  border: none;
  margin: 10px;
  padding: 10px;
}

#testimonial-page .testimonial-cards .card .paragraph {
  text-align: justify;
}

#testimonial-page .testimonial-cards .card .paragraph p {
  font-size: 16px;
}

#testimonial-page .testimonial-cards .card .infos {
  display: flex;
  gap: 10px;
}

#testimonial-page .testimonial-cards .card .infos {
  display: flex;
  gap: 10px;
}

#testimonial-page .testimonial-cards .card .infos img {
  width: auto;
  height: auto;
}

#testimonial-page .testimonial-cards .card .infos h3 {
  font-size: 20px;
}

#testimonial-page .testimonial-cards .card .infos h5 {
  font-size: 16px;
  font-weight: 200;
}

#testimonial-page .testimonial-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

#testimonial-page .testimonial-text h2 {
  font-size: 20px;
}

#testimonial-page .testimonial-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: var(--secondary-color);
}

#testimonial-page .testimonial-text span {
  font-size: 50px;
  font-weight: bold;
  color: var(--primary-color);
}

#testimonial-page .testimonial-text p {
  font-size: 16px;
}

#testimonial-page .testimonial-text button {
  width: 158px;
  height: 52px;
  border-radius: 30px;
  border: none;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

#testimonial-page .testimonial-text button:hover {
  background-color: var(--secondary-color);
}

/* For tablets and smaller desktop screens */
@media only screen and (max-width: 990px) {
  /*TESTIMONIAL PAGE*/
  #testimonial-page {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  #testimonial-page .testimonial-cards {
    width: 100%;
  }

  #testimonial-page .testimonial-text {
    width: 100%;
  }

  #testimonial-page .testimonial-text h1 {
    font-size: 35px;
  }

  #testimonial-page .testimonial-text span {
    font-size: 35px;
  }

  #testimonial-page .testimonial-text p {
    font-size: 14px;
  }

  #testimonial-page .testimonial-cards .card .paragraph p {
    font-size: 14px;
  }

  #testimonial-page .testimonial-text button {
    width: 120px;
    height: 45px;
    font-size: 14px;
  }
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
  /*TESTIMONIAL PAGE*/
  #testimonial-page {
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  #testimonial-page .testimonial-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #testimonial-page .testimonial-text {
    width: 100%;
  }

  #testimonial-page .testimonial-text h1 {
    font-size: 35px;
  }

  #testimonial-page .testimonial-text span {
    font-size: 35px;
  }
}
